body {
  //   display: flex;
  // place-items: center;
  // min-width: 320px;
  // min-height: 100vh;
  margin: 0;
  font-family: 'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans',
    'Helvetica Neue', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

body {
  margin: 0 !important;
  padding: 0 !important;
}

.p-icon-field {
  width: 100% !important;
}

// .p-icon-field-right > .p-input-icon:last-of-type {
//   right: 0.5rem;
//   color: inherit !important;
// }

.p-inputtext {
  width: 100% !important;
}

.container-root {
  height: 100vh !important;
  min-block-size: max-content;
}

.page-container {
    height: calc(100vh - 142px);
}
